<p id="notice"><%= notice %></p>

<h1><%=t '.pumpkins'%></h1>

<<<<<<< Updated upstream
=======


<%=form_tag pumpkins_path, :method => 'get' do%>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search for Pumpkin Species" %>
<% end%>
<p>Click on the column heads to sort the pumpkins by species, size, weight and price.</p>

>>>>>>> Stashed changes
locale: <%= params[:locale] %>
<table>
  <thead>
    <tr>
      <th><%= link_to "Species", :sort => "species" %></th>
      <th>Carved</th>
      <th><%= link_to "Size", :sort => "size"%></th>
      <th><%= link_to "Weight", :sort => "weight"%></th>
      <th><%= link_to "Price", :sort => "price"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pumpkins.each do |pumpkin| %>
      <tr>
        <td><%= pumpkin.species %></td>
        <td><%= pumpkin.carved %></td>
        <td><%= pumpkin.size %></td>
        <td><%= pumpkin.weight %></td>
        <td><%= pumpkin.price %></td>
        <td><%= link_to 'Show', pumpkin %></td>
        <td><%= link_to 'Edit', edit_pumpkin_path(pumpkin) %></td>
        <td><%= link_to 'Destroy', pumpkin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pumpkin', new_pumpkin_path %>
