<p id="notice"><%= notice %></p>

<h1><%=t '.pumpkins'%></h1>

<table>
  <thead>
    <tr>
      <th>Species</th>
      <th>Carved</th>
      <th>Size</th>
      <th>Weight</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pumpkins.each do |pumpkin| %>
      <tr>
        <td><%= pumpkin.species %></td>
        <td><%= pumpkin.carved %></td>
        <td><%= pumpkin.size %></td>
        <td><%= pumpkin.weight %></td>
        <td><%= pumpkin.price %></td>
        <td><%= link_to 'Show', pumpkin %></td>
        <td><%= link_to 'Edit', edit_pumpkin_path(pumpkin) %></td>
        <td><%= link_to 'Destroy', pumpkin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pumpkin', new_pumpkin_path %>
