<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <%= @pumpkin.species %>
</p>

<p>
  <% if @pumpkin.carved %>
    I'm already carved!!
  <% else %>
    I will be your next project.
  <% end %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pumpkin.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pumpkin.weight %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pumpkin.price %>
</p>

<%= link_to 'Edit', edit_pumpkin_path(@pumpkin) %> |
<%= link_to 'Back', pumpkins_path %>



<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
