<p id="notice"><%= notice %></p>

<p>
  <strong><%= t '.i_spiecies' %>:</strong>


  <%= @pumpkin.species %>
</p>

<p>
  <% if @pumpkin.carved %>
    <%= t '.i_carved' %>
  <% else %>
        <%= t '.i_next' %>
  <% end %>
</p>

<p>
  <strong><%= t '.i_size' %> : </strong>
  <tr>
  <td><%= @pumpkin.size %></td> <td> data </td>
</tr>
</p>

<p>
  <strong><%= t '.i_weight' %>:</strong>
  <tr>
  <td><%= @pumpkin.weight %></td> <td> data </td>
</tr>
</p>

<p>
  <strong><%= t '.i_price' %>:</strong>
  <tr>
<td>  <%= @pumpkin.price %></td> <td> data </td>
</p>


<%= link_to 'Edit', edit_pumpkin_path(@pumpkin) %> |
<%= link_to 'Back', pumpkins_path %>



<h1><%= t '.i_comment' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.i_title' %></th>
      <th><%= t '.i_content' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
