<p id="notice"><%= notice %></p>

<h1><%= t ".orders" %></h1>
<table>
  <thead>
    <tr>
      <th><%= t '.customer'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_customer_pairs.each do | order, customer | %>
      <tr>
        <td><%= customer.name %></td>
        <td><%=link_to t('.showx'),  order%></td>
        <td><%= link_to t('.editx'), edit_order_path(order) %></td>
        <td><%= link_to t('.destroyx'), order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_orderx'), new_order_path %>
