<!DOCTYPE html>
<html>
  <head>
    <title>HTW</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= t '.app_name' %></h1>

    <%= link_to '[EN]', locale: 'en' %>
    <%= link_to '[DE]', locale: 'de' %>
    <%= link_to '[KL]', locale: 'kl' %>
    <%= link_to '[JesusChrist64]', 'https://images.complex.com/complex/image/upload/c_scale,w_1100/fl_lossy,pg_1,q_auto/jesusjumpman-_1a_avnvob.jpg'%>
    <%= yield %>

  </body>
</html>
