<!DOCTYPE html>
<html>
  <head>
    <title>HTW</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to (t('.app_name')), root_path %></h1>

	<nav>
		<% I18n.available_locales.each do |l| %>
			<%= link_to "[#{l.upcase}]", locale: l %>
		<% end %>
		<br>
		<%= link_to 'Pumpkins', pumpkins_path %></li>
		<%= link_to 'Orders', orders_path %></li>
		<%= link_to 'Customers', customers_path %></li>
	</nav>

    <%= yield %>
	
  </body>
</html>
