<!DOCTYPE html>
<html>
  <head>
    <title>HTW</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to (t('.app_name')), root_path %></h1>

	<nav>
		<% I18n.available_locales.each do |l| %>
			<%= link_to "[#{l.upcase}]", locale: l %>
		<% end %>
		<br>
		<%= link_to 'Pumpkins', pumpkins_path %></li>
		<%= link_to 'Orders', orders_path %></li>
		<%= link_to 'Customers', customers_path %></li>
	</nav>

    <%= link_to '[EN]', locale: 'en' %>
    <%= link_to '[DE]', locale: 'de' %>
    <%= link_to '[AR]', locale: 'ar' %>

    <nav>
      <%= link_to (t '.home'), root_path %>
      <%= link_to (t '.pumpkins'), pumpkins_path %>
      <%= link_to (t '.orders'), orders_path %>
      <%= link_to (t '.customers'), customers_path %>
    </nav>

    <%= yield %>

  </body>
</html>
